/* CSS declarations go here */





#myChart {
/*
      border: none;
          display: block;
              height: 360px;
                  width: 360px;
*/



    width: 400px;
    height: 400px;
}
